html,body{
    height: 100%;
    background-color: #f5f8fa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container{
    padding-left: 0;
    padding-right: 0;
}
.container-fluid .media-object {
    width: 80px;
    min-height: 60px;
    display: block;
}
.station-order{
    padding-left: 20px;
    border-bottom: 1px solid #ccc;
}
.station-nav{
    text-align: center;
    margin:0;
}
.station-nav li{
    display: inline-block;width: 49%;text-align:center;
    border-bottom: solid #ccc 2px;
}
.station-nav .active{
    border-bottom: solid #00b4f5 2px;
}
#stations{
    padding: 5px;
    background: #fff;
}

.baidu-map{
    height:100%;
    min-height: 667px;
}
.station-item{
    width: 100%;
    float: left;
}
.station-item .thumbnail{
    width:25%;
    height: 60px;
    display: block;
    float: left;
    border: none;
    margin-bottom: 0;
}
.station-item .info{
    width:auto;
    float: left;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}
.station-item .info .city{
    position: relative;
    bottom: -15px;
}

.station-item .location{
    float: right;
    padding-top: 0.5rem;
}
.station-item .location .go{
    position: relative;
    bottom: -15px;
}
.station-info .thumbnail{
    padding: 0;
    margin-bottom: 5px;
}
.station-info .caption .detail{
    width: 75%;
    float: left;
}
.go{
    display: block;
}
.station-info ul{width:300px;height:27px;float:left;padding-left: 0px}
.station-info ul li{width:27px;height:27px;background:url(../assets/images/station/star.gif) no-repeat;list-style-type:none;float:left;}
.station-info ul .active{background:url(../assets/images/station/star.gif) no-repeat 0 -29px;}
.station-info p{
    padding-left: 9px;
}

/*.series{*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*}*/
.series ul{
    white-space: nowrap;
    height: 4.2rem;
    padding-left: 0px;
}
.series ul li{
    display: inline-block;
    text-align: center;
    background: #ccc;
    margin-left: 1px;
}
.series ul li span{
    display: block;
    width: 100%;
    height: 2.1rem;
    line-height: 2.1rem;
}

.series ul li span:first-child{
    border-bottom: 1px solid #eeeeee;

}
#app .panel{
    margin-bottom: 5px;
    padding: 5px;
}
.media .avatar{
    width: 3rem;
    border-radius: 3rem;
}
.media{
    margin: 5px;
    border-bottom: 1px solid #ccc;
}
/*--------------------*/
.pull-left{
    width: 25%;
    height: 60px;
    float: left;
    overflow: hidden;
}
.media-body{
    width: 75%;
    overflow: hidden;
    float: right;
}
.media_right{
    min-width: 32%;
    float: right;
}
.media_name{
    width: 60%;
    display: block;
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.media-heading{
    height: 20px;
    line-height: 20px;
    margin-bottom: 0;
    width: 100%;
    overflow: hidden;
}
.media_right img{
    float: left;
    margin: 3px 0;
}
.media_right span{
    float: left;
}
.clear{
    clear: both;
}
.left_go{
    position: relative;
}
.left_go::after{
    content: "|";
    width: 1px;
    height: 60%;
    position: absolute;
    right: 0;
    line-height: 35px;
    z-index:10;
    color: #ccc;
}
.panel .panel_say{
    padding-bottom: 0;
    height: 35px;
    line-height: 35px;
}
.BMap_center{
    height: 70px !important;
}